
#desc# codestream-guide gatsby playground

#playgroundName# csg
#sandboxTypes# csguide
#sandboxes# {{SBNAME_csguide}}
#environment# local

dt_load {{SBNAME_csguide}}
cd $CSG_TOP

# uncomment these if you use iterm2 and want to colorize your tabs
# . $DT_TOP/lib/iterm2-utils.sh
# it2_tab_rgb {{SBNAME_csguide}} 110 188 145
